
#back-ground{
    background-color:rgb(19, 127, 170);;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
}
.back-image{
    border:2px solid red;
    width:1600px;
    height:750px;
    margin-left:-10px;
    background-image: url(./backpicture.jpg);
    background-repeat: no-repeat;
    background-size: 1550px;
}
.logo{

    
}
hr{
    height:15px;
}
.plan{
    position:fixed;
    left:770px;
    top:15px;
    font-size: 18px;
    color:white;
}
.plan1{
    position:fixed;
    left:870px;
    top:7px;
}
.money{
    position: fixed;
    right:540px;
    top:15px;
    font-size: 18px;
    color:white;
}
.money1{
    position: fixed;
    right:520px;
    top:7px;
}
.ride{
    position:fixed;
    right:400px;
    top:15px;
    font-size: 18px;
    color:white;
}
.ride1{
    position: fixed;
    right:375px;
    top:7px;
}
.share{
    position: fixed;
    right:320px;
    top:15px;
    font-size: 18px;
    color:white;
}
.share1{
    position: fixed;
    right:298px;
    top:7px;
}
.offer{
    position: fixed;
    right:240px;
    top:15px;
    font-size: 18px;
    color:white;
}
.offer1{
    position: fixed;
    right:217px;
    top:7px;
}
.sup{
    position:fixed;
    right:150px;
    top:15px;
    font-size: 18px;
    color:white;
}
#new{
}
/* .r{
    position:fixed;
    right:600px;
    top:60px;
    font-size:20px;
    
}
.sel{
    position: fixed;
    right:450px;
    top:60px;
    font-size:20px;

}
.fea{
    position: fixed;
    right:320px;
    top:60px;
    font-size:20px;
    

} */
.button1{

    font-size:20px;
    background-color:rgb(18, 182, 18);
    color:white;
    padding:5px;
    position: fixed;
    right:10px;
    top:6px;
}
.name{
    position:absolute;
    left:65px;
    top:20px;
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    .car{
        height:50px;
        width:100px;
       position:relative;
       top:-250px;
       left:-120px;
        animation-name: car;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        
    }
    @keyframes car {
        100%{
            transform:skewY(1deg);
        
        }
    } 
.wheel1{
    height:20px;
    width:20px;
    position:relative;
    top:-253px;
    left:-215px;
    animation-name: wheel1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes wheel1 {
    100%{
        transform:rotate(360deg);
    
    }
} 
.wheel2{
    height:20px;
    width:20px;
    position:relative;
    top:-253px;
    left:-180px;
    animation-name: wheel2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes wheel2 {
    100%{
        transform:rotate(360deg);
    
    }
} 

#box1{
  
    border:2px solid black;
    border-radius: 20px;
    height:370px;
    width:350px;
    display:inline-block;
    align-items:center ;
    margin-top:100px;
    margin-left:950px;
    background-color:white;
}
.title{
text-align:center;
margin-top: 100px;
    font-size:40px;
    color:white;
    
}
.title1{
    text-align:center;
margin-top: 10px;
    font-size:20px;
    color:white;
}
.tex1{
 font-size: 18px;
    color:black;
    margin-left:30px;
}
.tex1:hover{
    background-color:rgb(19, 127, 170); 
    padding:5px;
    border-radius:10px;
}
.tex2{
    font-size: 18px;
    margin-left: 30px;
}
.tex2:hover{
    background-color:rgb(19, 127, 170); 
    padding:5px;
    border-radius:10px;
}
.tex3{
    font-size:18px;
    margin-left: 30px;
    font-size: 18px;
}
.tex3:hover{
    background-color:rgb(19, 127, 170);
    padding:5px;
    border-radius:5px;
}
.line1{
 margin-top:20px;
 margin-left:20px;
}
.box2{
    border:1px solid black;
    border-radius: 5px;
    margin-top:40px;
    width:347px;
    height:50px;
    background-color:whitesmoke;
}
.pick{
    font-size: 17px;
    color:silver;
    margin-top:10px;
    position:relative;
    top:10px;
    left:5px;
}
.link{
    text-decoration: none;
    font-size:18px;
    color:black;
    position:relative;
    top:10px;
    left:30px;
}
.box3{
    border:1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    width:347px;
    height:50px;
    background-color:whitesmoke;
}
.drop{
    font-size: 17px;
    color:silver;
    position:relative;
    top:10px;
    left:5px;
}
.box4{
    border:1px solid black;
    border-radius: 5px;
    margin-top:10px;
    width:347px;
    height:50px;
    background-color:whitesmoke;
}
.time{
    font-size: 17px;
    color:silver;
    position:relative;
    top:10px;
    left:5px;
}
select{

    font-size:18px;
    color:black;
    position:relative;
    top:10px;
    left:35px;
}
option{
    background-color:rgb(19, 127, 170); 
}
.button2{
    width:350px;
    height:50px;
    font-size:20px;
    color:white;
    margin-top:20px;
    background-color:rgb(19, 127, 170); 

}
.link1{
    text-decoration: none;

}
#sec2{
    display:flex;
    justify-content:space-evenly;
    margin-top:60px;
}
.b1{
    border:2px solid red;
    border-radius: 20px;
    box-shadow:4px 4px 2px silver;
    width:350px;
    height:100px;
    }
.b2{
    border:2px solid red;
    border-radius: 20px;
    box-shadow:4px 4px 2px silver;
    width:350px;
    height:100px;
}
.b3{
    border:2px solid red;
    border-radius: 20px;
    box-shadow:4px 4px 2px silver;
    width:350px;
    height:100px;
}
.pic1{
    border:2px solid silver;
    height:400px;
    width:300px;
}
.pic2{
    border:2px solid silver;
    height:400px;
    width:300px;
}
.pic3{
    border:2px solid silver;
    height:400px;
    width:300px;
}
.car-text{
    color:rgb(19, 127, 170);
    margin-left:600px;
    margin-top:50px;

}
.ride-text{
    margin-left:550px;
    margin-top: -9px;
}
.sec3{
    display:flex;
    justify-content: center;
}
.pic1{
    margin-right:10px;
    text-align: center;
}
.pic2{
    text-align: center;
}
.pic3{
    margin-left:10px;
    text-align: center;
}
.para{
  margin-top:-17px;
  font-size:17px;
}
.circle1{
    border:2px solid rgb(19, 127, 170);
    background-image: url("./third\ cab.jpg");
    background-repeat: no-repeat;
    background-position: center,bottom;
    background-size: 78px;
    border-radius:50%;
    height:50px;
    width:50px;
    margin-left:220px;
    position:relative;
    top:-40px;
}
.circle2{
    border:2px solid rgb(19, 127, 170);
    background-image: url("./cab11.jpg");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center,bottom;
    border-radius:50%;
    height:50px;
    width:50px;
    margin-left:220px;
    position:relative;
    top:-40px;
    
}
.circle3{
    border:2px solid rgb(19, 127, 170);
    background-image: url("./cab22.jpg");
    background-position: center,bottom;
    background-repeat: no-repeat;
    background-size: 68px;
    border-radius:50%;
    height:50px;
    width:50px;
    margin-left:220px;
    position:relative;
    top:-40px;
    
}
.sec4{
    margin-top:50px;
    margin-left:20px;
}
.show{
    font-size:35px;
    color:rgb(19, 127, 170);

}
.sub-show{
    font-size:18px;
    margin-top:-25px;
}
.bike{
    height:60px;
    width:60px;
    border-radius:50px;
    background-image: url("./bike.png");
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
    margin-left:50px;
    margin-top:50px;
}
.bike:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.bike-text{
margin-top:10px;
margin-left:50px;
}
.auto{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./auto.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    margin-left:200px;
    margin-top:-105px;
}
.auto:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.auto-text{
    margin-left:200px;
    margin-top:0px;
}
.car1{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./share.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin-left:350px;
    margin-top:-110px;
}
.car1:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.car1-text{
    margin-left:350px;
    margin-top:4px;
}
.micro{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./micro.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin-left:500px;
    margin-top:-110px;
}
.micro:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.micro-text{
    margin-left:500px;
    margin-top:4px;
}
.mini{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./mini.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin-left:650px;
    margin-top:-110px;
}
.mini:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.mini-text{
    margin-left:650px;
    margin-top:4px;
}
.prime{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./prime-sedan.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin-left:800px;
    margin-top:-110px;
}
.prime:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.prime-text{
    margin-left:800px;
    margin-top:4px;
}
.play{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./prime-play.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin-left:950px;
    margin-top:-110px;
}
.play:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.play-text{
    margin-left:950px;
    margin-top:4px;
}
.suv{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./prime-suv.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin-left:1100px;
    margin-top:-110px;
}
.suv:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.suv-text{
    margin-left:1100px;
    margin-top:4px;
}
.lux{
    height:70px;
    width:70px;
    border-radius:50px;
    background-image: url("./lux.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin-left:1250px;
    margin-top:-110px;
}
.lux:hover{
    border:2px solid rgb(238, 241, 89);
    background-color: rgb(238, 241, 89);
}
.lux-text{
    margin-left:1250px;
    margin-top:4px;
}
.last-text{
    line-height:0.5px;
    font-size:18px;
}
.texs{
    margin-left:300px;
}
.app{
    margin-left:320px;
    margin-top:80px;
}
.phone{
    margin-left:900px;
    margin-top:-190px;
    height:500px;
    width:400px;
}
.shadow-line{
    margin-left:-20px;
    width:1600px;
    box-shadow: 8px 0px 9px silver;
}
.text-boxes{
    display:flex;
    justify-content: space-evenly;
}
.footer{
    background-color:rgb(19, 127, 170) ;
    margin-left:-10px;
    width:1600px;
}
.visited{
    color:white;
    margin-left:200px;
}
.text-boxes1{
    display:flex;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    justify-content:space-around;
}
.insta{
    margin-left:-190px;
}
.ut{
    margin-left:-330px;
}
.tw{
    margin-left:-480px;
}
.foot{
    display:flex;
    justify-content:space-between;
}
.about{
    margin-left:140px;
}
.booking{
    margin-left:-400px;
}